
MarketPlace_App/node_modules
MarketPlace_App/dist
MarketPlace_App/.env
MarketPlace_App/.env.production

MarketPlace_Backend/MarketPlace/.vs
MarketPlace_Backend/MarketPlace/bin
MarketPlace_Backend/MarketPlace/obj

MarketPlace_Backend/MarketPlace.Business/bin
MarketPlace_Backend/MarketPlace.Business/obj


MarketPlace_Backend/MarketPlace.Common/bin
MarketPlace_Backend/MarketPlace.Common/obj


MarketPlace_Backend/MarketPlace.DataAccess/bin
MarketPlace_Backend/MarketPlace.DataAccess/obj

MarketPlace_Backend/MarketPlace.Entities/bin
MarketPlace_Backend/MarketPlace.Entities/obj


MarketPlace_Backend/MarketPlace.Infrastucture/bin
MarketPlace_Backend/MarketPlace.Infrastucture/obj


MarketPlace_Backend/MarketPlace.Models/bin
MarketPlace_Backend/MarketPlace.Models/obj